body{
  background-image: url("https://res.cloudinary.com/steve-njuguna/image/upload/v1623447085/bg_vizjmb.jpg");
  color: #fff;
}

.container-fluid{
	background-color: none;
	margin-top: 50px;
	width: 75%;
	border-radius: 8px;
}

.jumbotron{
	background-color: #c69c6d;
	padding: 20px;
	border-radius: 5px;
	opacity: 0.8;
	text-align: left;
}

.btn-dark{
	background-color: #800600;
	border-color: #800600;
}

.btn-dark:hover{
	background-color: #754c24;
	border-color: #754c24;
}

.response{
	width: 100%;
	background-color: #754c24;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
}

.container{
	background-color: none;
	margin-top: 50px;
	width: 50%;
	border-radius: 8px;
}